<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>View Post</title>
<!--    <th:block th:replace="fragments/header :: main-header"/>-->
    <th:block th:replace="fragments/header :: main-header(false)"/>

</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container mt-3">

    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">View Post</h1>
    </header>

    <div class="card p-3">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>

        <input type="hidden" name="id" th:value="${post.id}">
        <p>Created by: <span th:text="${post.user.email}"></span></p>
<!--        security exercise-->
        <div sec:authorize="isAuthenticated()">

            <th:block th:if="${post.user.id == #authentication.principal.id}">
                    <button th:href="@{'/ads/' + ${post.id} + '/edit'}" class="btn btn-warning btn-block">Edit Post</button>
                <form th:action="@{'/ads/' + ${post.id} + '/delete'}" method="post">
                    <button class="btn btn-danger btn-block">Delete Ad</button>
                </form>
            </th:block>
        </div>

    </div>

</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>