<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-light bg-light navbar-expand-md" th:fragment="main-navbar">
    <a class="navbar-brand" href="/">Tell Me About It!</a>
    <ul class="navbar-nav d-flex align-items-center mx-3">
        <li class="nav-item mx-3"><a href="/posts">What is everybody talking about?</a></li>
        <li class="nav-item mx-3"><a href="/posts/create">Tell Us About It</a></li>
    </ul>

    <ul sec:authorize="!isAuthenticated()" class="navbar-nav ml-auto" >
        <li class="nav-item mx-3"><a href="/sign-up">Sign-up</a></li>
        <li class="nav-item mx-3"><a href="/login">Login</a></li>
    </ul>

    <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto" >
        <li>
            <form th:action="@{/logout}" th:method="post">
                <button style="border:none; color: hotpink !important" class="btn-link btn p-0">Logout</button>
<!--                <button style="border:none !important" class="btn-link btn p-0"><a href="/logout">Logout</a></button>-->

            </form>
        </li>
    </ul>

</nav>
