<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<th:block th:replace="fragments/header :: main-header"/>

<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container">

    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">Welcome! </h1>
    <h6 class="text-center" sec:authorize="isAuthenticated()">

        User ID: <span th:text="${#authentication.principal.id}"/>
        Username: <span th:text="${#authentication.principal.username}"/>
        Email: <span th:text="${#authentication.principal.email}"/>
    </h6>
    </header>


</div>
<th:block th:replace="fragments/footer :: main-footer"/>

</body>
</html>