<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Join</title>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>
<th:block th:replace="fragments/header :: main-header(true)"/>
<link rel="stylesheet" href="/css/paid.css">


<h1 th:text="${cohort}"></h1>

<form action="/join" method="post">
    <input type="text" name="cohort" id="cohort-ip" class="field" />
    <button>Join now</button>
</form>

<h2 th:if="${students != null}">Students List</h2>

<ul>
<!--    makes repetition happen /////makes text display-->
    <li th:each="student : ${students}" th:text="${student}"></li>
</ul>
<th:block th:replace="fragments/footer :: main-footer"/>

</body>
</html>